In [2]:
import numpy

working wid variables

In [1]:
a=10

In [2]:
b=20

In [5]:
c=a+b

In [6]:
print c

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(c)? (<ipython-input-6-1b1d2b33e8c2>, line 1)

In [7]:
print(c)

30

In [8]:
c="Hello python"

In [9]:
print(c)

Hello python

In [10]:
c

'Hello python'

In [11]:
type(c)

str

In [12]:
a,b,c

(10, 20, 'Hello python')

In [ ]:
a=b+c

In [13]:
a

10

In [15]:
a=["as",1128,"and",2.811]

In [16]:
a

['as', 1128, 'and', 2.811]

In [23]:
print(a)

['as', 1128, 'and', 2.811]

In [24]:
l2=[11,28,"vishu",17,"ram","sam"]
l2

[11, 28, 'vishu', 17, 'ram', 'sam']

In [21]:
l1=a+l2
l1

['as', 1128, 'and', 2.811, 11, 28, 'vishu', 17, 'ram', 'sam']

In [25]:
a+l2[3:7]

['as', 1128, 'and', 2.811, 17, 'ram', 'sam']

In [26]:
l2[3]

17

In [28]:
l2[-1]

'sam'

In [29]:
l2

[11, 28, 'vishu', 17, 'ram', 'sam']

In [33]:
l2.append("hello")
l2

[11, 28, 'vishu', 17, 'ram', 'sam', 'hello']

In [34]:
l3=[123,12.34]
l3

[123, 12.34]

In [40]:
l2.extend(["hoo",10.11])
l2

[11,
 28,
 'vishu',
 17,
 'ram',
 'sam',
 'hello',
 'hoo',
 10.11,
 'hoo',
 10.11,
 'hoo',
 10.11]

In [42]:
l2.delete[2]
l2

AttributeError: 'list' object has no attribute 'delete'

In [47]:
del l2[:4]
l2

['sam', 'hello', 'hoo', 10.11, 'hoo', 10.11, 'hoo', 10.11]

In [54]:
l2.pop()
l2

['sam', 'hello', 'hoo', 10.11, 'hoo', 10.11]

In [61]:
l2.append("sam")
l2

['sam', 'hello', 'hoo', 10.11, 'hoo', 10.11, 'sam', 'sam', 'sam', 'sam']

In [62]:
l2.count("sam")

5

In [64]:
l2.sort()

TypeError: '<' not supported between instances of 'float' and 'str'

In [66]:
s=[11,2,3,76]
s

[11, 2, 3, 76]

In [75]:
s.sort(reverse=True)
s

[76, 11, 3, 2]

In [72]:
v=['r','v',"s"]

In [76]:
v.sort()
v

['r', 's', 'v']

In [78]:
t1=(123,'string',45,'str')
t1

(123, 'string', 45, 'str')

In [80]:
t1[1]

'string'

In [82]:
t2=(1128,'vishu')

In [86]:
t3=t1+t2
t3

(123, 'string', 45, 'str', 1128, 'vishu')

In [88]:
(x,y,z)=(1,2,3)
print(x)

1

In [90]:
y

2

In [95]:
d1={1,2,3}
d1

{1, 2, 3}

In [98]:
d1={'a1':2,"b":3}
d1

{'a1': 2, 'b': 3}

In [103]:
d1.values()

dict_values([2, 3])

In [107]:
d1.popitem()

('a1', 2)

In [110]:
d1.clear()
d1

{}

In [113]:
text1='welocme to python'
text1

'welocme to python'

In [115]:
text2='welocme to machine learning\n'
text2

'welocme to machine learning'

In [126]:
text1=text1+text2

In [128]:
text1.lower()

'welocme to pythonwelocme to machine learningwelocme to machine learning'

In [131]:
text1.isalpha()

False

In [133]:
text1.isspace()

False

In [135]:
a=set([1,2,3,4,5,5,5,])
a

{1, 2, 3, 4, 5}

In [152]:
b=([1,2])
b

[1, 2]

In [147]:
c=a.union(b)
c

{1, 2, 3, 4, 5, 'b', 'c', 'd'}

In [148]:
c=a.intersection(b)
c

{1, 2}

In [150]:
c.issubset(a)

True

In [153]:
c=a-b
c

TypeError: unsupported operand type(s) for -: 'set' and 'list'