## working with IF statement

In [1]:
 a=input("enter a number")
a=int(a)

enter a number12

In [2]:
b=input("enetr a num")
b=int(b)

enetr a num34

In [6]:
if a<b:
    print("value is greater")

value is greater

In [7]:
if a>b:
    print("value is lower")
else:
    print("greater")

greater

In [10]:
n=11

In [11]:
if n%2==0:
    print("even number")
else:
    print("odd number")

odd number

In [27]:
(a,b,c)=(28,-11,-17)

In [28]:
if(a<b and a<c):
    print("a is smaller")
elif(b<a and b<c):
    print("b is small")
else:
    print("c")

c

## WORKING WITH LOOP STATEMENTS

In [30]:
l=[1,2,3,4,5]

In [35]:
for i in l:
    print(i)

1
2
3
4
5

In [36]:
for i in list(range(1,51)):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [41]:
n=input("enter range")
n=int(n)
for i in list(range(n)):
    if i%2==0:
        print(i,end=" ")
    else:
        i=i+1

enter range8
0 2 4 6

In [42]:
n=input("enter range")
n=int(n)
for i in list(range(n)):
    if i%2!=0:
        print(i,end=" ")
    else:
        i=i+1

enter range11
1 3 5 7 9

In [44]:
for i in range(0,n,2):
    print(i)

0
2
4
6
8
10

In [57]:
flag=0
n=11
for i in range(2,n):
    if(n%i==0):
        print("not a prime")
        flag=1
        break;
if(flag==0):
    print("prime")

prime

In [62]:
n=10
for i in range(n):
    print(i)
    i=i+1
    break;
    i=i+1
i

0

1

In [66]:
n=10
for i in range(n):
    print(i)
    i=i+1
    continue;
i

0
1
2
3
4
5
6
7
8
9

10

In [67]:
n=10
for i in range(n):
    print(i)
    i=i+1
    pass;
    
i

0
1
2
3
4
5
6
7
8
9

10

In [76]:
i=0;
n=10
while(i<n):
    if i%2==0:
        print(i,"even")
    i=i+1

0 even
2 even
4 even
6 even
8 even

In [81]:
count=0
while(count<5):
    print(count,"is less")
    count+=1
else:
    print(count,"not less")

0 is less
1 is less
2 is less
3 is less
4 is less
5 not less

# #practice session

In [84]:
l=[2,3,44,22,6]
for i in l:
    if i%2==0:
        print(i,"even")

2 even
44 even
22 even
6 even

In [85]:
l=[2,3,44,22,6]
for i in l:
    if i%2!=0:
        print(i,"odd")

3 odd